@font-face {
  font-family: "Redonda";
  font-weight: 100;
  src: url(../font/REDONDA-LIGHT.OTF);
}

@font-face {
  font-family: "Redonda";
  font-weight: 100;
  font-style: italic;
  src: url(../font/REDONDA-LIGHTITALIC.OTF);
}

@font-face {
  font-family: "Redonda";
  font-weight: 300;
  src: url(../font/REDONDA-REGULAR.OTF);
}

@font-face {
  font-family: "Redonda";
  font-weight: 300;
  font-style: italic;
  src: url(../font/REDONDA-ITALIC.OTF);
}

@font-face {
  font-family: "Redonda";
  font-weight: 500;
  src: url(../font/REDONDA-BOLD.OTF);
}

@font-face {
  font-family: "Redonda";
  font-weight: 500;
  font-style: italic;
  src: url(../font/REDONDA-BOLDITALIC.OTF);
}

@font-face {
  font-family: "Redonda";
  font-weight: 700;
  src: url(../font/REDONDA-EXTRABOLD.OTF);
}

@font-face {
  font-family: "Redonda";
  font-weight: 700;
  font-style: italic;
  src: url(../font/REDONDA-EXTRABOLDITALIC.OTF);
}

@font-face {
  font-family: "Redonda";
  font-weight: 900;
  src: url(../font/REDONDA-BLACK.OTF);
}

@font-face {
  font-family: "Redonda";
  font-weight: 900;
  font-style: italic;
  src: url(../font/REDONDA-BLACKITALIC.OTF);
}

@font-face {
  font-family: "Abelha";
  font-weight: 500;
  src: url(../font/3-abelhagorda.otf);
}

@font-face {
  font-family: "Abelha";
  font-weight: 300;
  src: url(../font/1-abelharegular.otf);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #FFFFFF;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

img, svg {
  display: block;
  width: 100%;
}

.Menu {
  width: 25vw;
  height: 93vh;
  margin-top: 2vw;
  position: fixed;
  font-family: 'Redonda';
  font-weight: 100;
  border-right: 1px #0C0C0C solid;
  padding: 1.5vw 2vw;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.Menu .BxLogos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Menu .BxLogos .Logo {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  width: 13%;
}

.Menu .BxLogos .Logo svg path {
  fill: #0C0C0C;
}

.Menu .BxLogos .LongLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  width: 30%;
}

.Menu .About {
  margin: 7vw 0 0 0;
  color: #0C0C0C;
}

.Menu .About a {
  font-size: 2.5vw;
  font-weight: 700;
  color: #0C0C0C;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.Menu .About p {
  font-size: 1vw;
  margin: 0;
  margin-top: 0.5vw;
  padding-right: 3vw;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.Menu .Links {
  list-style: none;
  margin-top: 1vw;
}

.Menu .Links span {
  font-size: 1vw;
  color: #0C0C0C;
}

.Menu .Links .link {
  font-style: italic;
  text-decoration: underline;
  margin: 0.8vw 0 0 0;
}

.Menu .Links .link a {
  font-size: 1vw;
  color: #FF6D00;
}

.Menu h3 {
  position: absolute;
  bottom: 3vw;
  left: 1.5vw;
  font-size: 0.9vw;
  font-weight: 700;
  color: #0C0C0C;
  text-transform: uppercase;
}

.Menu .theme-switch {
  width: 4.5vw;
  height: 2vw;
  border: #0C0C0C 2px solid;
  border-radius: 50px;
  position: absolute;
  bottom: 1vw;
  left: 2vw;
}

.Menu .theme-switch .switch {
  background: #0C0C0C;
  width: 1.35vw;
  height: 1.35vw;
  border-radius: 100%;
  position: absolute;
  top: 0.18vw;
  left: 0.2vw;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.Menu.actived {
  width: 15vw;
}

.Menu.actived .BxLogos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Menu.actived .BxLogos .Logo {
  width: 30%;
}

.Menu.actived .BxLogos .LongLogo {
  display: none;
}

.Menu.actived .About {
  margin: 6vw 0 0 0;
}

.Menu.actived .About a {
  font-size: 1.9vw;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.Menu.actived .About p {
  display: none;
}

.Menu.actived .Links span {
  font-size: 1vw;
  padding-right: 0.5vw;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.content {
  margin-left: 25vw;
  width: 75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-family: 'Redonda';
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.content .MenuInside {
  width: 20%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .MenuInside .MenuSd {
  color: #0C0C0C;
  padding: 1.2vw;
  font-size: 1vw;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.content .MenuInside .active {
  color: #FF6D00;
}

.content .TabsBx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2.5vw 3vw;
  width: 79%;
  margin-left: 20%;
}

.content.actived {
  margin-left: 15vw;
  width: 85vw;
}

#Design {
  width: 100%;
}

#Design #BlockCarousel {
  width: 100%;
  height: 55vh;
  border-radius: 1vw;
  background: #0C0C0C;
}

#Design #BlockCarousel .carousel-indicators li {
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 50px;
  margin: 0 0.3vw;
  border: 1px solid #FFFFFF;
}

#Design #BlockCarousel .carousel-inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.9vw;
}

#Design #BlockCarousel .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
}

#Design #BlockCarousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#Design #BlockCarousel a {
  width: 2vw;
  margin: 0 1vw;
}

#Design #BlockCarousel a span {
  width: 1.5vw;
}

#Design #BlockCarousel a #rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#Design h2 {
  text-transform: uppercase;
  font-size: 1vw;
  color: #0C0C0C;
  margin: 1vw 1.5vw 3vw 1.5vw;
  font-weight: 700;
}

#Foto {
  width: 100%;
  position: relative;
}

#Foto .iconFts {
  position: fixed;
  top: 85vh;
  left: 33.5vw;
  width: 3.5vw;
  height: 3.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Foto .iconFts .iconsFT {
  background: #0C0C0C;
  width: 32.3%;
  height: 48.5%;
}

#Foto .iconFts .metade {
  width: 49% !important;
}

#Foto .iconFts .cem {
  width: 100% !important;
  height: 100%;
}

#Foto .blockfts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Foto .blockfts h2 {
  color: #0C0C0C;
  font-size: 1.5vw;
  font-weight: 500;
  width: 100%;
  margin: 1vw 0 1vw -1vw;
}

#Foto .blockfts .FotoBx {
  width: 32.5%;
  height: 30vh;
  background: #0C0C0C;
  border-radius: 1vw;
  margin: 0 0 2vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.7vw;
}

#Foto .blockfts .FotoBx img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1vw;
}

#Foto .blockfts .none {
  display: none;
}

#Foto .blockfts .metade {
  width: 49.5%;
  height: 50vh;
}

#Foto .blockfts .cem {
  width: 98.5%;
  height: auto;
}

#Tipogr {
  width: 100%;
}

#Tipogr h2 {
  font-weight: 500;
  outline: none;
  color: #0C0C0C;
  font-size: 4vw;
  margin: 0;
  font-family: 'Abelha';
}

#Tipogr .abelhalinks {
  width: 100%;
  font-family: 'Redonda';
}

#Tipogr .abelhalinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: -0.5vw 0 0 -0.5vw;
}

#Tipogr .abelhalinks ul a {
  color: #0C0C0C;
  text-decoration: none;
  padding: 0.5vw;
  margin: 0 0.5vw 0 0;
  font-size: 1vw;
  font-weight: 700;
  text-transform: uppercase;
}

#Tipogr .PosterBx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Tipogr .PosterBx .Poster {
  width: 48%;
  height: 70vh;
  background-color: #0C0C0C;
  border-radius: 1vw;
  margin: 1vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Tipogr .PosterBx .Poster img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1vw;
}

::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 0.75vw;
}

::-webkit-scrollbar-thumb {
  background: #0C0C0C;
}

.light-theme {
  background: #0C0C0C;
}

.light-theme .Menu {
  border-right: 1px #FFFFFF solid;
}

.light-theme .Menu .BxLogos .Logo svg path {
  fill: #FFFFFF;
}

.light-theme .Menu .BxLogos .LongLogo svg {
  fill: #FFFFFF;
}

.light-theme .Menu .About {
  color: #FFFFFF;
}

.light-theme .Menu .About a {
  color: #FFFFFF;
}

.light-theme .Menu .Links span {
  color: #FFFFFF;
}

.light-theme .Menu .Links .link a {
  color: #0584FF;
}

.light-theme .Menu h3 {
  color: #FFFFFF;
}

.light-theme .Menu .theme-switch {
  border: #FFFFFF 2px solid;
}

.light-theme .Menu .theme-switch .switch {
  background: #FFFFFF;
  -webkit-transform: translateX(2.4vw);
          transform: translateX(2.4vw);
}

.light-theme .content .MenuInside .MenuSd {
  color: #FFFFFF;
}

.light-theme .content .MenuInside .active {
  color: #0584FF;
}

.light-theme #Design h2 {
  color: #FFFFFF;
}

.light-theme #Foto .iconFts .iconsFT {
  background: #FFFFFF;
}

.light-theme #Foto .blockfts h2 {
  color: #FFFFFF;
}

.light-theme #Foto .blockfts .FotoBx {
  background: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */