@import 'compiler/font-colors';
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}
body{
    width: 100%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background: $White;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    transition: 0.5s ease-in-out;
}
img,svg{
    display: block;
    width: 100%;
}
.none{
    display: none;
}
@import 'compiler/menu';
@import 'compiler/menuSecond';
@import 'compiler/design';
@import 'compiler/foto';
@import 'compiler/tipogra';

::-webkit-scrollbar-track{background-color: $White;}
::-webkit-scrollbar{width: 0.75vw;}
::-webkit-scrollbar-thumb{background:$Black;}

.light-theme {
    background: $Black;
    .Menu{
        border-right: 1px $White solid;
        .BxLogos{ 
            .Logo{ svg{ path{ fill: $White; } } }
            .LongLogo{ svg{ fill: $White; } }
        }
        .About{
            color: $White;
            a{ color: $White; }
        }
        .Links{
            span{ color: $White; }
            .link{ a{ color: $Blue; } }
        }
        h3{ color: $White; }
        .theme-switch {
            border: $White 2px solid;
            .switch {  
                background: $White;
                transform: translateX(2.4vw);
            }
        }
    }
    .content{
        .MenuInside{
            .MenuSd{ color: $White; }
            .active{ color: $Blue; }
        }
    }
    #Design{ h2{ color: $White; } }
    #Foto{ 
        .iconFts{ .iconsFT{ background: $White; } }
        .blockfts{ h2{ color: $White; } .FotoBx{ background: $White; } }
    }
    #Tipogr{
        h2{ color: $White; }
        .abelhalinks{ ul{ a{ color: $White; } } }
    }
}