#Foto{
    width: 100%;
    position: relative;
    .blockfts{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        h2{
            color: $Black;
            font-size: 1.5vw;
            font-weight: 500;
            width: 100%;
            margin: 1vw 0 1vw -1vw;
        }
        .FotoBx{
            width: 32.5%;
            height: 30vh;
            background: $Black;
            border-radius: 1vw;
            margin: 0 0 2vw 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0.7vw;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 1vw;
            }
        }
        .none{
            display: none;
        }
        .metade{
            width: 49.5%;
            height: 50vh;
        }
        .cem{
            width: 98.5%;
            height: auto;
        }
    }
}