.Menu{
    width: 25vw;
    height: 93vh;
    margin-top: 2vw;
    position: fixed;
    font-family: 'Redonda';
    font-weight: 100;
    border-right: 1px $Black solid;
    padding: 1.5vw 2vw;
    transition: 0.5s ease-in-out;
    z-index: 1;
    .BxLogos{
        display: flex;
        .Logo{
            transition: 0.5s ease-in-out;
            width: 13%;
            svg{
                path{
                    fill: $Black;
                }
            }
        }
        .LongLogo{
            display: flex;
            align-items: center;
            margin-left: auto;
            width: 30%;
        }
    }
    .About{
        margin: 7vw 0 0 0;
        color: $Black;
        a{
            font-size: 2.5vw;
            font-weight: 700;
            color: $Black;
            transition: 0.5s ease-in-out;
        }
        p{
            font-size: 1vw;
            margin: 0;
            margin-top: 0.5vw;
            padding-right: 3vw;
            transition: 0.5s ease-in-out;
        }
    }
    .Links{
        list-style: none;
        margin-top: 1vw;
        span{
            font-size: 1vw;
            color: $Black;
        }
        .link{
            font-style: italic;
            text-decoration: underline;
            margin: 0.8vw 0 0 0;
            a{
                font-size: 1vw;
                color: $Orange;
            }
            
        }
    }
    h3{
        position: absolute;
        bottom: 3vw;
        left: 1.5vw;
        font-size: 0.9vw;
        font-weight: 700;
        color: $Black;
        text-transform: uppercase;
    }
    .theme-switch {
        width: 4.5vw;
        height: 2vw;
        border: $Black 2px solid;
        border-radius: 50px;
        position: absolute;
        bottom: 1vw;
        left: 2vw;
        .switch {
            background: $Black;
            width: 1.35vw;
            height: 1.35vw;
            border-radius: 100%;
            position: absolute;
            top: 0.18vw;
            left: 0.2vw;
            transition: 0.5s all ease;
        }
    }
}
.Menu.actived{
    width: 15vw;
    .BxLogos{
        display: flex;
        .Logo{ width: 30%; }
        .LongLogo{ display: none; }
    }
    .About{
        margin: 6vw 0 0 0;
        a{ font-size: 1.9vw; transition: 0.5s ease-in-out; }
        p{ display: none; }
    }
    .Links{ span{ font-size: 1vw; padding-right: 0.5vw; transition: 0.5s ease-in-out; } }
}