.content{
    margin-left: 25vw;
    width: 75vw;
    display: flex;
    position: relative;
    font-family: 'Redonda';
    transition: 0.5s ease-in-out;
    .MenuInside{
        width: 20%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .MenuSd{
            color: $Black;
            padding: 1.2vw;
            font-size: 1vw;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
        }
        .active{
            color: $Orange;
        }
    }
    .TabsBx{
        display: flex;
        flex-wrap: wrap;
        padding: 2.5vw 3vw;
        width: 79%;
    }
}
.content.actived{
    margin-left: 15vw;
    width: 85vw;  
}