.content{
    margin-left: 25vw;
    width: 75vw;
    display: flex;
    position: relative;
    font-family: 'Redonda';
    transition: 0.5s ease-in-out;
    margin-right: 0.7vw;
    .MenuInside{
        width: 18%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        .MenuSd{
            color: $Black;
            padding: 1.2vw;
            font-size: 1vw;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
        }
        .active{
            color: $Orange;
        }
        .iconFts{
            position: fixed;
            top: 87vh;
            left: 7.5vw;
            width: 3.5vw;
            height: 3.5vw;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            transition: 0.5s ease-in-out;
            .iconsFT{
                background: $Black;
                width: 32.3%;
                height: 47.8%;
            }
            .metade{
                width: 49% !important;
            }
            .cem{
                width: 100% !important;
                height: 100%;
            }
        }
        .iconFts.actived{
            left: 23.5vw;
        }
    }
    .TabsBx{
        display: flex;
        flex-wrap: wrap;
        padding: 2.5vw 3vw;
        width: 79%;
        margin-left: 20%;
    }
}
.content.actived{
    margin-left: 15vw;
    width: 85vw;  
}
/* Medium Device = 1200px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Tablet Device = 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
}

/* Wide Mobile = 480px */
@media only screen and (max-width: 767px){
    .content{
        margin: 27vw 0 0 0;
        width: 100vw;
        flex-wrap: wrap;
        .MenuInside{
            width: 100%;
            height: 15vw;
            position: relative;
            flex-direction: row;
            padding: 0 15vw;
            .MenuSd{
                padding: 1.5vw;
                font-size: 2.7vw;
            }
            .iconFts{
                top: 27vw;
                left: 7.5vw;
                width: 7vw;
                height: 7vw;
                .iconsFT{
                    width: 31.5%;
                    height: 47.8%;
                }
                .cem{
                    width: 100% !important;
                    height: 100%;
                }
            }
            .iconFts.actived{
                left: 7.5vw;
                top: 20vw;
            }
        }
        .TabsBx{
            width: 100%;
            margin-left: 0;
            height: 100%;
        }
    }
    .content.actived{
        margin: 20vw 0 0 0;
        width: 100vw;  
    }
}