.content{
    margin-left: 25vw;
    width: 75vw;
    display: flex;
    position: relative;
    font-family: 'Redonda';
    transition: 0.5s ease-in-out;
    margin-right: 0.7vw;
    .MenuInside{
        width: 20%;
        height: 100vh;
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .MenuSd{
            color: $Black;
            padding: 1.2vw;
            font-size: 1vw;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
        }
        .active{
            color: $Orange;
        }
    }
    .TabsBx{
        display: flex;
        flex-wrap: wrap;
        padding: 2.5vw 3vw;
        width: 79%;
        margin-left: 20%;
    }
}
.content.actived{
    margin-left: 15vw;
    width: 85vw;  
}
/* Medium Device = 1200px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Tablet Device = 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
}

/* Wide Mobile = 480px */
@media only screen and (max-width: 767px){
    .content{
        margin: 27vw 0 0 0;
        width: 100vw;
        flex-wrap: wrap;
        .MenuInside{
            width: 100%;
            height: 15vw;
            position: relative;
            flex-direction: row;
            padding: 0 15vw;
            .MenuSd{
                padding: 1.5vw;
                font-size: 2.7vw;
            }
        }
        .TabsBx{
            width: 100%;
            margin-left: 0;
        }
    }
    .content.actived{
        margin-left: 0;
        width: 100vw;  
    }
}