#Studio{
    width: 100%;
    padding-top: 2vw;
    svg{
        padding: 1vw 6vw;
        fill: $Black;
    }
    h4{
        text-align: center;
        width: 100%;
        font-family: 'Redonda';
        font-weight: 300;
        font-size: 1.1vw;
        margin: 1vw 0 3vw 0;
        color: $Black;
    }
    .StudioJobs{
        padding: 1vw;
        display: flex;
        flex-wrap: wrap;
        font-family: 'Redonda';
        align-content: center;
        justify-content: space-between;
        .BxStudio{
            width: 49%;
            margin: 5vw 0 1vw 0;
            display: flex;
            span{
                width: 35%;
                font-size: 1vw;
                color: $Orange;
                text-transform: uppercase;
                line-height: 1.2vw;
                padding: 0.5vw;
            }
            .textStudio{
                width: 65%;
                padding: 0.5vw 2.5vw 0 1vw;
                color: $Black;
                font-size: 1vw;
                font-weight: 300;
            }
        }
    }
}

/* Medium Device = 1200px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Tablet Device = 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
}

/* Wide Mobile = 480px */
@media only screen and (max-width: 767px){ 
    #Studio{
        padding: 2vw 0 0 0;
        svg{
            padding: 1vw 8vw;
        }
        h4{
            font-size: 2.5vw;
            margin: 1vw 0 3vw 0;
        }
        .StudioJobs{
            padding: 1vw;
            .BxStudio{
                width: 100%;
                margin: 8vw 0 3vw 0;
                span{
                    width: 30%;
                    font-size: 3vw;
                    line-height: 3.5vw;
                }
                .textStudio{
                    width: 70%;
                    padding: 0.5vw 3vw 0 1vw;
                    font-size: 3vw;
                }
            }
        }
    } 
}